.container
  .row
    .col-sm-6.col-sm-offset-3
      = bootstrap_form_for @user do |f|
        = f.text_field :first_name, hide_label: true, class: "form-control", placeholder: "First Name"
        = f.text_field :last_name, hide_label: true, class: "form-control", placeholder: "Last Name"
        = f.email_field :email, hide_label: true, class: "form-control", placeholder: "Email"
        = f.password_field :password, hide_label: true, class: "form-control", placeholder: "Password"
        = f.submit "Sign Up", class: "btn"
