#sign-up-modal.modal.fade{"tab-index" => "-1", "role" => "dialog"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-body
        %button.close{:type => "button", "data-dismiss" => "modal"}
          %span &times
          %span.sr-only Close
        = bootstrap_form_for @user do |f|
          = f.text_field :first_name, hide_label: true, class: "form-control", placeholder: "First Name"
          = f.text_field :last_name, hide_label: true, class: "form-control", placeholder: "Last Name"
          = f.email_field :email, hide_label: true, class: "form-control", placeholder: "Email"
          = f.password_field :password, hide_label: true, class: "form-control", placeholder: "Password"
          = f.submit "Sign Up", class: "btn"
