<!DOCTYPE html>
<html>
<head>
  <title>Cleansheets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <%= render 'shared/navigation' %>
  </header>

  <section class="content clearfix">
    <%= render 'shared/messages' %>
    <%= yield %>
  </section>

  <footer>
    A
    <%= link_to "Cullen Jett", 'http://www.cullenjet.com' %>
    Joint
  </footer>
  
</body>
</html>
